- provide :title, 'Live'
- if current_user.is_broadcaster?
  .live-control
    = link_to 'Enable live', '#',:class => 'enable-live-link'
    = link_to 'Disable live', '#', :class => 'disable-live-link'
:javascript
  var flashVars = {
      appName: 'rtmp://localhost:1935/live',
      streamName:'mystream'
  };
  swfobject.embedSWF('RtmpPublisher.swf', 'rtmp-publisher', '500', '200', '9.0.0', null, flashVars);
#rtmp-publisher
  %p Flash not installed