:javascript
  var flashVars = {
      appName: 'rtmp://localhost:1935/live',
      streamName:'mystream'
  };
  swfobject.embedSWF('RtmpPublisher.swf', 'rtmp-publisher', '500', '400', '9.0.0', null, flashVars);
#rtmp-publisher
  %p Flash not installed