- provide :title, 'Log in'
.login-form-wrapper
  = form_for :session, :url => login_path, :html => { :class => 'login-form' } do |form|
    .login-form-field
      = form.text_field :login, :autocomplete => :off, :autofocus => :autofocus, :placeholder => 'Login'
    .login-form-field
      = form.password_field :password, :placeholder => 'Password'
    %div
      = form.submit 'Log in'