<div class="uploader">
  <%= form_for @track, :html => { :class => "uploader-form" } do |form| %>
    <div class="uploader-button">Click to add files</div>

    <%= form.file_field :upload, :multiple => true, :name => "track[upload]", :class => "uploader-file-field" %>
  <% end %>

  <table class="uploads-table table">
    <tr>
      <th>Filename</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
  </table>

  <div class="upload-editor">
  </div>
</div>
