<div class="uploader">
  <%= form_for @track do |form| %>
    <%= form.file_field :upload, :multiple => true, :name => "track[upload]" %>
  <% end %>

  <table class="uploads-table">
  </table>
</div>
