- provide :title, 'Upload tracks'
.uploader
  = form_for @track, :html => { :class => "uploader-form" } do |form|
    %div
      %spam.uploader-button.btn
        Upload tracks
        = form.file_field :upload, :multiple => true, :name => "track[upload]", :class => "uploader-file-field"
  %table.uploads-table.table.table-striped
    %thead
      %tr
        %th Filename
        %th Progress
        %th Status
        %th Edit
    %tbody
  .upload-editor