<td>
  <span><%= user.escape('email') %></span>
</td>

<td>
  <input type="checkbox" class="can_do_anything" <%= user.get('can_do_anything') ? 'checked' : '' %>>
</td>

<td>
  <input type="checkbox" class="can_manage_tracks" <%= user.get('can_manage_tracks') ? 'checked' : '' %>>
</td>

<td>
  <input type="checkbox" class="can_manage_users" <%= user.get('can_manage_users') ? 'checked' : '' %>>
</td>