<table class="users-table table table-striped table-bordered">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Can do anything?</th>
      <th>Can manage tracks?</th>
      <th>Can manage users?</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>