<table class="users-table table table-striped table-bordered">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Admin?</th>
      <th>DJ?</th>
      <th>Broadcaster?</th>
      <th>Guest?</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>