- provide :title, 'Users'
.roles
  DJs can manage tracks and playlists. Broadcaster can turn on and off live show and speak to it. Guests can speak to live show. Admins can do anything mentioned above and manage users.
:javascript
  window._gUsersData = #{json_escape @users.to_json.html_safe};
.users-wrapper
= paginate @users