<td><%= file.name %></td>

<td>
  <div class="uploads-table-item-progress">
    <div class="uploads-table-item-progress-bar"></div>
  </div>
</td>

<td>
  <% if (upload.status == upload.uploadStatus.running) { %>
    <a class="cancel-link" href="#">Cancel</a>
  <% } %>

  <% if (upload.status == upload.uploadStatus.finished ) { %>
    <span>Finished</span>
  <% } %>

  <% if (upload.status == upload.uploadStatus.cancelled) { %>
    <span>Cancelled</span>
  <% } %>
</td>

<td>
  <% if (upload.status == upload.uploadStatus.finished ) { %>
    <a class="edit-link" href="#">Edit</a>
  <% } %>
</td>