<table class="upload-editor-table table">
  <thead>
    <tr>
      <td>
        <input class="input-block-level upload-editor-input upload-editor-input-title" type="text" value="<%= track.get('title') %>" />
      </td>

      <td>
        <input class="input-block-level upload-editor-input upload-editor-input-artist" type="text" value="<%= track.get('artist') %>" />
      </td>

      <td>
        <input class="input-block-level upload-editor-input upload-editor-input-album" type="text" value="<%= track.get('album') %>" />
      </td>

      <td>
        <input class="input-block-level upload-editor-input upload-editor-input-genre" type="text" value="<%= track.get('genre') %>" />
      </td>

      <td>
        <a class="save-link" href="#">Save</a>
      </td>
    </tr>
  </thead>
</table>