<table class="tracks-table table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  
  <tbody>
  </tbody>
</table>