<td>
  <span class="metadata"><%= track.get('title') %></span>
  <input class="input input-title input-medium" type="text" />
</td>

<td>
  <span class="metadata"><%= track.get('artist') %></span>
  <input class="input input-artist input-medium" type="text" />
</td>

<td>
  <span class="metadata"><%= track.get('album') %></span>
  <input class="input input-album input-medium" type="text" />
</td>

<td>
  <span class="metadata"><%= track.get('genre') %></span>
  <input class="input input-genre input-medium" type="text" />
</td>

<td>
  <a class="edit-link" href="#">Edit</a>
</td>

<td>
  <a class="remove-link" href="#">Remove</a>
</td>