<td class="upload-filename"><%= file.name %></td>

<td>
  <div class="upload-progress">
    <div class="upload-progress-bar"></div>
  </div>
</td>

<td class="upload-status">
  <% if (upload.status == upload.uploadStatus.running) { %>
    <a class="cancel-link" href="#">Cancel</a>
  <% } %>

  <% if (upload.status == upload.uploadStatus.finished ) { %>
    <span>Finished</span>
  <% } %>

  <% if (upload.status == upload.uploadStatus.cancelled) { %>
    <span>Cancelled</span>
  <% } %>
</td>

<td class="upload-edit">
  <% if (upload.status == upload.uploadStatus.finished ) { %>
    <a class="edit-link" href="#">Edit</a>
  <% } %>
</td>