<td class="upload-filename"><%= file.name %></td>

<td class="upload-progress">
  <div class="progress progress-striped">
    <div class="bar"></div>
  </div>
</td>

<td class="upload-cancel"><i class="icon-ban-circle"></i> <a class="cancel-link" href="#">Cancel</a></td>