<div>
  <span>Title: <%= playlist.get('title') %></span>
</div>

<table class="playlist-tracks-table table">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Remove from playlist</th>
  </tr>
</table>