<td>
  <a class="metadata" href="<%= playlist.url() %>"><%= playlist.get('title') %></a>
  <input class="input input-title input-medium" type="text" />
</td>

<td>
  <i class="icon-pencil"></i> <a class="edit-link" href="#">Edit</a>
</td>

<td>
  <i class="icon-trash"></i> <a class="remove-link" href="#">Remove</a>
</td>

<td>
  <i class="icon-play"></i> <a class="play-link" href="#">Play</a>
</td>