<% if (playlist.isRemoved) { %>
  <td>
    <span><%= playlist.escape('title') %></span>
  </td>

  <td></td>

  <td>
    <span>Removed</span>
  </td>

  <td></td>
<% } else { %>
  <td>
    <a class="playlists-table-item-data" href="<%= playlist.url() %>"><%= playlist.escape('title') %></a>
    <input class="playlists-table-item-input playlists-table-item-input-title" type="text" />
  </td>

  <td>
    <a class="edit-link" href="#">Edit</a>
  </td>

  <td>
    <a class="remove-link" href="#">Remove</a>
  </td>

  <td>
    <a class="play-link" href="#">Play</a>
  </td>
<% } %>