<td>
  <a class="playlist-metadata" href="<%= playlist.url() %>"><%= playlist.escape('title') %></a>
  <input class="playlist-input playlist-input-title" type="text" />
</td>

<td>
  <i class="icon-pencil"></i> <a class="edit-link" href="#">Edit</a>
</td>

<td>
  <i class="icon-trash"></i> <a class="remove-link" href="#">Remove</a>
</td>

<td>
  <i class="icon-play"></i> <a class="play-link" href="#">Play</a>
</td>