<td>
  <%= track.escape('title') %>
</td>

<td>
  <%= track.escape('artist') %>
</td>

<td>
  <%= track.escape('album') %>
</td>

<td>
  <%= track.escape('genre') %>
</td>

<td>
  <a class="remove-from-playlist-link" href="#">Remove from playlist</d>
</td>