<% if (!($('#playlist_title').length > 0)) { %>
  <div class="playlist-title">
    <h3>Playlist «<%= playlist.escape('title') %>»</h3>
  </div>
<% } %>

<p>You can change tracks order by draggind them.</p>

<table class="playlist-tracks-table table table-striped table-bordered">
  <thead>
    <tr class="nodrag nodrop">
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Remove from playlist</th>
    </tr>
  </thead>
</table>