<td>
  <%= track.get('title') %>
</td>

<td>
  <%= track.get('artist') %>
</td>

<td>
  <%= track.get('album') %>
</td>

<td>
  <%= track.get('genre') %>
</td>

<td>
  <i class="icon-remove"></i> <a class="remove-from-playlist-link" href="#">Remove from playlist</d>
</td>