<% if (playlist.isRemoved) { %>
  <td>
    <span><%= playlist.escape('title') %></span>
  </td>

  <td></td>

  <td>
    <span>Removed</span>
  </td>

  <td></td>
<% } else { %>
  <td>
    <a class="table-item-data" href="<%= playlist.url() %>"><%= playlist.escape('title') %></a>
    <input class="input-block-level table-item-input table-item-input-title" type="text" />
  </td>

  <td class="table-item-control">
    <a class="edit-link" href="#">Edit</a>
  </td>

  <td class="table-item-control">
    <a class="remove-link" href="#">Remove</a>
  </td>

  <% if (playlist.get('now_playing')) { %>
    <td>
      <span>Now playing</span>
    </td>
  <% } else { %>
    <td class="table-item-control">
      <a class="play-link" href="#">Play</a>
    </td>
  <% } %>
<% } %>