<td>
  <a class="metadata" href="<%= playlist.url() %>"><%= playlist.get('title') %></a>
  <input class="input input-title" type="text" />
</td>

<td>
  <a class="edit-link" href="#">Edit</a>
</td>

<td>
  <a class="remove-link" href="#">Remove</a>
</td>

<td>
  <a class="play-link" href="#">Play</a>
</td>