<% if (!($('#playlist_title').length > 0)) { %>
  <div class="playlist-title">
    <h3>Playlist «<%= playlist.escape('title') %>»</h3>
  </div>
<% } %>

<table class="playlist-tracks-table table table-striped">
  <tr class="nodrag nodrop">
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Remove from playlist</th>
  </tr>
</table>