<td>
  <%= track.get('title') %>
</td>

<td>
  <%= track.get('artist') %>
</td>

<td>
  <%= track.get('album') %>
</td>

<td>
  <%= track.get('genre') %>
</td>

<td>
  <i class="icon-plus"></i> <a class="add-to-playlist-link" href="#">Add to playlist</d>
</td>