<td>
  <%= track.escape('title') %>
</td>

<td>
  <%= track.escape('artist') %>
</td>

<td>
  <%= track.escape('album') %>
</td>

<td>
  <%= track.escape('genre') %>
</td>

<% if (track.isAddedToPlaylist) { %>
  <td>
    <span>Added</span>
  </td>
<% } else { %>
  <td>
    <a class="add-to-playlist-link" href="#">Add to playlist</a>
  </td>
<% } %>