<td>
  <%= track.escape('title') %>
</td>

<td>
  <%= track.escape('artist') %>
</td>

<td>
  <%= track.escape('album') %>
</td>

<td>
  <%= track.escape('genre') %>
</td>

<td>
  <i class="icon-plus"></i> <a class="add-to-playlist-link" href="#">Add to playlist</d>
</td>