- provide :title, 'Home'
.status
  %h3
    - if @playlist.nil?
      Not playing
    - else
      Now playing: #{@playlist.title}
%audio{:controls => 'controls'}
  %source{:src => 'http://localhost:8000/outer.mp3'}