#playlists,
#tracks-search,
#playlist-tracks {
  width: 100%;
  table-layout: fixed;
}

#playlists th,
#tracks-search th,
#playlist-tracks th {
  text-align: left;
}

.playlist .metadata {
  display: inline;
}

.playlist .input {
  display: none;
}

.playlist-editing .metadata {
  display: none;
}

.playlist-editing .input {
  display: inline;
}