#playlists {
  width: 100%;
  table-layout: fixed;
}

#playlists th {
  text-align: left;
}

.playlist .metadata {
  display: inline;
}

.playlist .input {
  display: none;
}

.playlist-editing .metadata {
  display: none;
}

.playlist-editing .input {
  display: inline;
}