@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

$body-background: #eee;
$body-font-size: 14px;
$body-font-family: 'pt sans', verdana, sans-serif;

$container-margin: 45px;
$container-width: 960px;
$container-background: #fefefe;

$nav-height: 50px;
$nav-item-color: #fefefe;
$nav-item-hover-color: #6678b1;
$nav-item-active-color: #a4eceb;
$nav-item-active-hover-color: #ffffff;

$footer-height: 100px;
$footer-width: 960px;
$footer-padding: 10px;

$dark-background-color: #444;

$table-width: $container-width - $container-margin * 2;
$table-row-heigth: 25px;
$table-removed-item-color: #ffffaa;
$table-added-item-color: #ffcfff;
$table-selected-item-color: #fefeff;
$table-font-size: 14px;
$table-header-font-size: 16px;
$table-cell-border-color: #ccc;
$table-header-border-color: #6678b1;
$table-cell-color: #669;
$table-header-color: #039;
$table-cell-padding: 6px 8px;

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $body-font-family;
    background: $body-background;
    font-size: $body-font-size;
}

input[type=text],
input[type=password] {
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: $body-font-family;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: $container-width;
    margin: 0px auto (-$footer-height);
    background: $container-background;
}

.container {
    margin: $container-margin;
}

/* navigation */

.nav-wrapper {
    background: $dark-background-color;
    position: absolute;
    left: 0px;
    right: 0px;
}

.nav {
    width: $container-width;
    height: $nav-height;
    margin: 0px auto;
}

.nav-push {
    height: $nav-height;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    display: block;
    padding: 0px 10px;
    line-height: $nav-height;
    color: $nav-item-color;
    text-decoration: none;
}

.nav-item a:hover {
    background: $nav-item-hover-color;
}

.nav-item-active a {
    color: $nav-item-active-color;
    background: $dark-background-color image-url('triangle.png') no-repeat center bottom;
}

.nav-item-active a:hover {
    color: $nav-item-active-hover-color;
    background: $nav-item-hover-color image-url('triangle.png') no-repeat center bottom;
}

/* footer */

.footer-push {
    height: $footer-height;
}

.footer-wrapper {
    background: image-url('footer.png');
}

.footer {
    height: $footer-height - 2 * $footer-padding;
    width: $footer-width - 2 * $footer-padding;
    padding: $footer-padding;
    margin: 0px auto;
    color: #fff;
}

/* tables */

.table {
    font-size: $table-font-size;
    width: $table-width;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.6;
}

.table th {
    font-size: $table-header-font-size;
    color: $table-header-color;
    padding: $table-cell-padding;
    border-bottom: 2px solid $table-header-border-color;
    white-space: nowrap;
}

.table td {
    border-bottom: 1px solid $table-cell-border-color;
    color: $table-cell-color;
    padding: $table-cell-padding;
    white-space: nowrap;
    overflow: hidden;
}

.table input[type=text] {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.table-item .table-item-data {
    display: inline;
}

.table-item .table-item-input {
    display: none;
}

.table-item-editing .table-item-data {
    display: none;
}

.table-item-editing .table-item-input {
    display: inline;
}

.table-item-removed {
    background: $table-removed-item-color;
}

.table-item-added {
    background: $table-added-item-color;
}

.table-item-selected {
    background: $table-selected-item-color;
}
/* uploads */

.uploader {

}

.uploader-form {

}

.uploads-table-item-progress {
    background: red;
    height: 10px;
}

.uploads-table-item-progress-bar {
    background: green;
    height: 10px;
    width: 0%;
}

.upload-editor {

}

.upload-editor input[type=text] {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.upload-editor-table {
    table-layout: fixed;
    width: $table-width;
}

.upload-editor-table td {
    padding: $table-cell-padding;
}

/* playlists */

.playlist-title {
    margin-bottom: 25px;
}

.playlist-tracks-table {
    margin-bottom: 25px;
}


/* pagination */

.pagination {
    margin-top: $container-margin;
}

.pagination-prev-first,
.pagination-next-last,
.pagination-pages {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.pagination-prev,
.pagination-first {
    display: block;
    text-align: right;
    line-height: 1.5;
}

.pagination-next,
.pagination-last {
    display: block;
    text-align: left;
    line-height: 1.5;
}

.pagination-pages {
    margin: 0px 10px;
}

.pagination-page {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    background: #999;
    color: #fff;
    font-size: 14px;
}

.pagination-current {
    background: #66f;
}

.pagination-page a {
    text-decoration: none !important;
    color: #fff;
}

/* spoilers */

.spoiler {
    display: none;
}

/* home page */

.status {
    margin-bottom: $container-margin;
}

/* login page */

$login-form-width: 400px;
$login-form-height: 240px;
$login-form-padding: 45px;
$login-form-field-padding: 5px;

.login-form-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
}

.login-form {
    position: relative;
    height: $login-form-height - $login-form-padding * 2;
    width: $login-form-width - $login-form-padding * 2;
    margin-left: (-$login-form-width / 2);
    margin-top: (-$login-form-height / 2);
    left: 50%;
    background: #fff;
    padding: $login-form-padding;
}

.login-form-field {
    margin-bottom: 25px;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: $login-form-width - $login-form-padding * 2 - $login-form-field-padding * 2;
    margin: 0px;
    padding: 0px $login-form-field-padding;
}