input[type=text] {
    margin: 0px;
}

.uploader-button {
    position: relative;
    overflow: hidden;
}

.uploader-file-field {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 20px;
    direction: ltr;
    cursor: pointer;
    height: 30px;
    line-height: 30px; 
    width: auto;
}

.table {
    table-layout: fixed;
}

.table-item .table-item-data {
    display: inline;
}

.table-item .table-item-input {
    display: none;
}

.table-item-editing .table-item-data {
    display: none;
}

.table-item-editing .table-item-input {
    display: inline;
}