$body-background: #eee;

$container-width: 960px;
$container-background: #fefefe;

$nav-height: 50px;
$nav-item-color: #fefefe;
$nav-item-hover-color: #05958b;
$nav-item-active-color: #74eceb;

$footer-height: 100px;
$footer-width: 960px;
$footer-padding: 10px;

$dark-background-color: #444;
$table-row-heigth: 30px;

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: $body-background;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: $container-width;
    margin: 0px auto (-$footer-height);
    background: $container-background;
}

.container {
    margin: 10px;
}

.nav-wrapper {
    background: $dark-background-color;
    position: absolute;
    left: 0px;
    right: 0px;
}

.nav {
    width: $container-width;
    height: $nav-height;
    margin: 0px auto;
}

.nav-push {
    height: $nav-height;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    display: block;
    padding: 0px 10px;
    line-height: $nav-height;
    color: $nav-item-color;
    text-decoration: none;
}

.nav-item a:hover {
    background: $nav-item-hover-color;
}

.nav-item-active a {
    color: $nav-item-active-color;
    background: $dark-background-color image-url('triangle.png') no-repeat center bottom;
}

.nav-item-active a:hover {
    background: $nav-item-hover-color image-url('triangle.png') no-repeat center bottom;
}

.tracks-table {
    width: 100%;
    table-layout: fixed;
}

.tracks-table tr {
    line-height: $table-row-heigth;
}

.tracks-table th {
    text-align: left;
    font-weight: bold;

    border-bottom: 2px solid #999;
}

.track {

}

.track .track-metadata {
    display: inline;
}

.track .track-input {
    display: none;
}

.track-editing .track-metadata {
    display: none;
}

.track-editing .track-input {
    display: inline;
}

.uploads-table {
    width: 100%;
    table-layout: fixed;
}

.uploads-table tr {
    line-height: $table-row-heigth;
}

.upload-progress {
    background: red;
    height: 10px;
}

.upload-progress-bar {
    background: green;
    height: 10px;
    width: 0%;
}

.upload-status {
    text-align: right;
}

.playlists-table {
    width: 100%;
    table-layout: fixed;
}

.playlists-table tr {
    line-height: $table-row-heigth;
}

.playlists-table th {
    text-align: left;
    font-weight: bold;
}

.playlist {

}

.playlist .playlist-metadata {
    display: inline;
}

.playlist .playlist-input {
    display: none;
}

.playlist-editing .playlist-metadata {
    display: none;
}

.playlist-editing .playlist-input {
    display: inline;
}

.tracks-search-table {
    width: 100%;
    table-layout: fixed;
}

.tracks-search-table tr {
    line-height: $table-row-heigth;
}

.tracks-search-table th {
    text-align: left;
    font-weight: bold;
}

.playlist-tracks-table {
    width: 100%;
    table-layout: fixed;
}

.playlist-tracks-table tr {
    line-height: $table-row-heigth;
}

.playlist-tracks-table th {
    text-align: left;
    font-weight: bold;
}

.footer-push {
    height: $footer-height;
}

.footer-wrapper {
    background: $dark-background-color;
}

.footer {
    height: $footer-height - 2 * $footer-padding;
    width: $footer-width - 2 * $footer-padding;
    padding: $footer-padding;
    margin: 0px auto;
}