#tracks {
  width: 100%;
  table-layout: fixed;
}

#tracks th {
  text-align: left;
}

.track .metadata {
  display: inline;
}

.track .input {
  display: none;
}

.track-editing .metadata {
  display: none;
}

.track-editing .input {
  display: inline;
}

.upload-filename {
  display: inline-block;
  width: 200px;
}

.upload-progress-wrapper {
  display: inline-block;
  width: 500px;
  height: 20px;
  background: #999;
  border: 1px solid #222;
}

.upload-progress {
  height: 20px;
  background: #444;
}