#tracks,
#uploads-list {
  width: 100%;
  table-layout: fixed;
}

#tracks th {
  text-align: left;
}

.track .metadata {
  display: inline;
}

.track .input {
  display: none;
}

.track-editing .metadata {
  display: none;
}

.track-editing .input {
  display: inline;
}

.upload {

}

.upload-progress .progress {
  margin-bottom: 0px;
}

.upload-cancelled {
  color: red;
}

.upload-cancel {
  text-align: right !important;
}