/*
#tracks {
  width: 100%;
  table-layout: fixed;
}

#tracks th {
  text-align: left;
}
*/

.track .metadata {
  display: inline;
}

.track .input {
  display: none;
}

.track-editing .metadata {
  display: none;
}

.track-editing .input {
  display: inline;
}

.upload-filename {
  display: inline-block;
  width: 200px;
}

.progress {
  /*display: inline-block;*/
}