= form_tag tracks_path, :method => :get, :class => 'tracks-search-form form-inline' do
  = text_field_tag :query, '', :placeholder => 'Query', :autocomplete => 'off'
  = submit_tag 'Search by', :class => 'btn'
  = select_tag :field, "<option value='title'>By title</option><option value='artist'>By artist</option><option value='album'>By album</option><option value='genre'>By genre</option>".html_safe