- provide :title, 'New playlist'
= form_for @playlist, :html => { :class => 'playlist-form' } do |form|
  = form.text_field :title, :placeholder => 'Title', :autocomplete => 'off'
  = form.submit 'Create', :class => 'btn'
.playlist-tracks-wrapper
= render 'form'
.tracks-search-wrapper