- provide :title, "Playlists / #{@playlist.title}"
:javascript
  window._gPlaylistData = #{json_escape @playlist.to_json.html_safe};
.playlist-tracks-wrapper
%a.spoiler-link{ :href => '#' } Add more tracks
.spoiler
  = render 'form'
  .tracks-search-wrapper